<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Thanh niên tình nguyện Haui
    </title>
</head>

<body>
    <div id="app">
        <myheader></myheader>
        <main>
        <div class="introduce-wrapper">
            <div class="container">
                <div class="section-title-wrapper">
                    <div class="section-title-left">
                        <h1>ĐỘI THANH NIÊN TÌNH NGUYỆN KHOA CÔNG NGHỆ THÔNG TIN
                            TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP HÀ NỘI  
                        </h1>
                        <p>            “Muốn đi nhanh thì đi một mình<br> 
                            Muốn đi xa thì hãy đi cùng Đội TNTN Khoa CNTT”
                        </p>
                    </div>
                    <div class="section-title-right">
                        <div class="logo-images">
                        <img src="images/comon/logo_tntn_2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="section-content-wrapper">
                    <div class="section-content-left">
                        <p>
                            Thành lập từ năm 2008, trải qua 14 năm hoạt động, Đội TNTN Khoa CNTT đã trở thành lực lượng thanh niên tình nguyện nòng cốt  và lớn mạnh không chỉ trong Khoa CNTT mà còn là cánh chim đầu đàn cho hoạt động tình nguyện tại Trường Đại học Công Nghiệp Hà Nội. 
                        </p>
                    </div>
                    <div class="section-content-right">
                        <p>
                            Để có được những thành công ấy, không thể không kể đến những thế hệ BPT của Đội đã xây dựng và tiếp nối những truyền thống tốt đẹp của đội. Một vài những chương trình tiêu biểu của Đội như: Tết ấm yêu thương, Tình nguyện vì cộng đồng, Đạp xe vì môi trường, Mùa hè xanh, ...
                        </p>
                    </div>
                </div>
                <div class="section-img-wrapper">
                    <img src="images/ativity.png" alt="">
                </div>
                <div class="section-img-content">
                    <div class="col-lg-3 col-md-6 col-12 total-content">
                        <h1>250+</h1>
                        <p>
                            Thành viên, Cộng tác viên hoạt động thường trực
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 total-content">
                        <h1>14+</h1>
                        <p>
                            Năm hoạt động và phát triển  lớn mạnh
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 total-content">
                        <h1>20+</h1>
                        <p>
                            Chương trình, hoạt động lớn nhỏ trong một năm.
                        </p>
                    </div>
                </div>
                <div class="section-content-wrapper">
                    <div class="section-content-left">
                        <p>
                            Thành lập từ năm 2008, trải qua 14 năm hoạt động, Đội TNTN Khoa CNTT đã trở thành lực lượng thanh niên tình nguyện nòng cốt  và lớn mạnh không chỉ trong Khoa CNTT mà còn là cánh chim đầu đàn cho hoạt động tình nguyện tại Trường Đại học Công Nghiệp Hà Nội. 
                        </p>
                    </div>
                    <div class="section-content-right">
                        <p>
                            Để có được những thành công ấy, không thể không kể đến những thế hệ BPT của Đội đã xây dựng và tiếp nối những truyền thống tốt đẹp của đội. Một vài những chương trình tiêu biểu của Đội như: Tết ấm yêu thương, Tình nguyện vì cộng đồng, Đạp xe vì môi trường, Mùa hè xanh, ...
                        </p>
                    </div>
                </div>
                <div class="section-slide-wrapper">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="images/ativity.png" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="images/ativity.png" alt="">
                          </div>
                          <div class="swiper-slide">
                            <img src="images/ativity.png" alt="">
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="section-month-category">
                    <div class="section-month-category-left">
                        <div class="section-month-category-content">
                            <p>
                                Tham gia Đội giúp mình từ một người “Hướng nội” thành một người hướng lung tung. Thật sự alf một tập thể đoàn kết và đang để các bạn tham gia nha!
                            </p>
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.629083 31.2725L19.2194 0.872643L35.8973 26.1827L0.629083 31.2725Z" fill="#C9D0F3"/>
                            </svg>
                                
                        </div>
                        <div class="section-month-category-content">
                            <p>
                                Tôi nói thật là các bạn nên tham gia Đội ngay điii nếu không là phí cả thanh xuân 4 năm đại học đó.
                            </p>
                            <svg class="svg-comment" width="31" height="27" viewBox="0 0 31 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M30.6112 26.3307L14.3473 5.93912e-05L-4.097e-05 21.7733L30.6112 26.3307Z" fill="#C9D0F3"/>
                            </svg>                                
                        </div>
                        <div class="section-month-category-content">
                            <p>
                                Tham gia Đội giúp mình từ một người “Hướng nội” thành một người hướng lung tung. Thật sự alf một tập thể đoàn kết và đang để các bạn tham gia nha!
                            </p>
                            <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.629083 31.2725L19.2194 0.872643L35.8973 26.1827L0.629083 31.2725Z" fill="#C9D0F3"/>
                            </svg>
                        </div>
                    </div>
                    <div class="section-month-category-right">
                        <div class="section-month-category-img">
                            <img src="images/3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
        <myfooter></myfooter>

    </div>
</body>


<!-- vue core -->
<script src="js/vue.js"></script>
<script src="js/httpVueLoader.js"></script>
<!-- end vue core -->

<script src="js/jquery-3.4.1.js"></script>
<script src="libs/swiper/swiper-bundle.js"></script>
<script src="libs/bootstrap/popper.min.js"></script>
<script src="libs/bootstrap/bootstrap.min.js"></script>
<script src="libs/gsap/gsap.min.js"></script>
<script src="js/main.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        components: {
            myheader: httpVueLoader("vue_components/header.vue"),
            myfooter: httpVueLoader("vue_components/footer.vue"),
            "article-blog": httpVueLoader('vue_components/article-blog.vue'),
        },
        mounted() {
            this.$nextTick(() => {

                $(window).bind("load", function () {

                    // Home Banner

                    var swiper = new Swiper(".mySwiper", {
                        slidesPerView: 1,
                        speed: 1500,
                        autoplay: {
                            delay: 5000,
                        },
                        navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    });
                    // Home events
                    let homeEventSwiper = new Swiper('.home-events-wrapper .swiper', {
                        // Optional parameters
                        slidesPerView: 4,
                        spaceBetween: 30,
                        speed: 1500,

                        // Navigation arrows
                        navigation: {
                            nextEl: '.home-events-wrapper .swiper-button-next',
                            prevEl: '.home-events-wrapper .swiper-button-prev',
                        },
                    });

                    // Home videos
                    let homeVideoSwiper = new Swiper('.home-video-slider .swiper', {
                        // Optional parameters
                        slidesPerView: 3,
                        spaceBetween: 30,
                        speed: 1500,

                        // Navigation arrows
                        navigation: {
                            nextEl: '.home-video-slider .swiper-button-next',
                            prevEl: '.home-video-slider .swiper-button-prev',
                        },
                    });

                    // Home parent story
                    let parentStorySwiper = new Swiper('.parents-story-slider .swiper', {
                        // Optional parameters
                        // slidesPerView: 3,
                        spaceBetween: 0,
                        // centerMode: true,
                        speed: 1500,

                        // Navigation arrows
                        navigation: {
                            nextEl: '.parents-story-slider .swiper-button-next',
                            prevEl: '.parents-story-slider .swiper-button-prev',
                        },
                        on: {
                            init: function () {
                                this.slideTo(1)
                            }
                        }
                    });

                    // Home partners
                    let partnerSwiper = new Swiper('.partner-slider .swiper', {
                        // Optional parameters
                        slidesPerView: 4,
                        spaceBetween: 30,
                        // centerMode: true,
                        speed: 1500,

                        // If we need pagination
                        pagination: {
                            el: '.partner-slider .swiper-pagination',
                            clickable: true,
                        },
                    });

                    iconInterval();
                    fixedsocialPopup();
                    triggerFixedEle();
                })
            });
        },
    });
</script>

</html>