<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Thanh niên tình nguyện Haui
    </title>
</head>

<body>
    <div id="app">
        <myheader></myheader>
        <main>
            <div class="register-wrapper">
                <div class="container">
                    <div class="t__top--slider">
                        <div class="backgroud-slide"></div>
                        <div class="left-content">
                            <div class="register-form">
                                <h1>Sửa thông tin cá nhân</h1>
                                <form action="">
                                    <div class=" group-form">
                                        <h5>Họ và tên</h5>
                                        <input type="text" placeholder="Tìm kiếm thông tin">
                                    </div>
                                    <div class=" group-form">
                                        <h5>ngày sinh</h5>
                                        <input type="text" placeholder="Tìm kiếm thông tin">
                                    </div>
                                    <div class=" group-form">
                                        <h5>ma sinh vien</h5>
                                        <input type="text" placeholder="Tìm kiếm thông tin">
                                    </div>
                                    <div class=" group-form">
                                        <h5>lớp-khóa</h5>
                                        <input type="text" placeholder="Tìm kiếm thông tin">
                                    </div>
                                    <div class=" group-form">
                                        <h5>khoa</h5>
                                        <input type="text" placeholder="Tìm kiếm thông tin">
                                    </div>
                                    <div class=" group-form">
                                        <h5>quê quán</h5>
                                        <input type="text" placeholder="Tìm kiếm thông tin">
                                    </div>
                                    <div class=" group-form">
                                        <h5>số điện thoại</h5>
                                        <input type="text" placeholder="Tìm kiếm thông tin">
                                    </div>
                                    <div class=" group-form">
                                        <h5>email</h5>
                                        <input type="text" placeholder="Tìm kiếm thông tin">
                                    </div>
                                    <div class=" group-form">
                                        <button type="submit">Sửa thông tin</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="right-contet">
                            <div class="avatar-img">
                                <img src="images/1.png">
                                <label for="uploadfile" class="upload-field">
                                    <input type="file" id="uploadfile">
                                    <div class="upload-text">
                                        <p>
                                            + Tải ảnh lên
                                        </p>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <myfooter></myfooter>

    </div>
</body>


<!-- vue core -->
<script src="js/vue.js"></script>
<script src="js/httpVueLoader.js"></script>
<!-- end vue core -->

<script src="js/jquery-3.4.1.js"></script>
<script src="libs/swiper/swiper-bundle.js"></script>
<script src="libs/bootstrap/popper.min.js"></script>
<script src="libs/bootstrap/bootstrap.min.js"></script>
<script src="libs/gsap/gsap.min.js"></script>
<script src="js/main.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        components: {
            myheader: httpVueLoader("vue_components/header-login.vue"),
            myfooter: httpVueLoader("vue_components/footer.vue"),
            supportsection: httpVueLoader("vue_components/support.vue"),
        },
        mounted() {
            this.$nextTick(() => {

                $(window).bind("load", function () {

                    // Home Banner

                    iconInterval();
                    fixedsocialPopup();
                    triggerFixedEle();
                })
            });
        },
    });
</script>

</html>