<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Website Greenfield</title>
</head>

<body>
    <div id="app">
        <myheader></myheader>

        <main>

            <div class="master-wrapper">

                <div class="gf-common-banner big-banner">
                    <div class="gf-banner-image">
                        <img class="img-fluid" src="images/about/gioithieu-thanhtich-bg.jpg" alt="">
                    </div>
                    <div class="gf-banner-deco">
                        <div class="deco-text">
                            <p class="text-uppercase">
                                thành tích <br /> học sinh
                            </p>
                        </div>
                    </div>
                </div>

                <div class="gf-section white-bg gioithieu-wrapper">
                    <div class="container">
                        <div class="w-1170">
                            <div class="gioithieu-list-wrapper">
                                <ul class="gioithieu-list">
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Tầm nhìn & Sứ mệnh
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Đội ngũ nhân sự
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Giá trị cốt lõi
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Chân dung học sinh
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item active">
                                        <a href="javascript:;">
                                            Thành tích học sinh
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Cơ sở vật chất
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="row-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><img class="img-fluid"
                                                    src="images/common/home-ic.png" alt=""></a></li>
                                        <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Thành tích học sinh</li>
                                    </ol>
                                </nav>
                            </div>

                            <div class="about-thanhtichhs">
                                <div class="thanhtichhs-intro">
                                    <p>
                                        Tại Greenfield, chúng tôi tự hào về đội ngũ giáo viên – nhân viên Việt Nam và
                                        nước ngoài
                                        <span>vững vàng về chuyên môn, giàu tâm huyết với học sinh và không
                                            ngừng
                                            sáng tạo.</span>
                                    </p>
                                </div>

                                <div class="thanhtichhs-list-wrapper">
                                    <div class="thanhtichhs-search-wrapper">
                                        <form action="">
                                            <div class="form-gr">
                                                <label for="inputName">Họ và tên</label>
                                                <input type="text" id="inputName" placeholder="Huỳnh Minh Quyên Quyên">
                                            </div>
                                            <div class="form-gr">
                                                <label for="inputSelectClass">Lớp</label>
                                                <select class="form-select" id="inputSelectClass">
                                                    <option selected disabled>Lớp 12.H.3L</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="form-gr">
                                                <label for="inputSelectYear">Năm học</label>
                                                <select class="form-select" id="inputSelectYear">
                                                    <option selected disabled>2022 - 2023</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="form-gr">
                                                <label for="inputSelectLevel">Cấp độ thành tích</label>
                                                <select class="form-select" id="inputSelectLevel">
                                                    <option selected disabled>Cấp trường</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <button>
                                                <img class="img-fluid" src="images/common/search-ic.png" alt="">
                                            </button>
                                        </form>
                                    </div>
                                    <div class="thanhtichhs-result-wrapper">
                                        <div class="result-list">
                                            <div class="thanhtichhs-item" v-for="n in 9">
                                                <a href="javascript:;" title="" data-bs-toggle="modal"
                                                    data-bs-target="#thanhtichhsModal">
                                                    <div class="thanhtichhs-item--image">
                                                        <img class="img-fluid" src="images/common/student-img.png"
                                                            alt="">
                                                    </div>
                                                    <div class="thanhtichhs-item--content">
                                                        <h4 class="name">Huỳnh Minh Quyên Quyên</h4>
                                                        <p class="des">Học sinh lớp: <span>12.H.3L</span></p>
                                                        <p class="des">Năm học: <span>2022 -2023</span></p>
                                                        <p class="detail-cta">
                                                            Xem chi tiết

                                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="8.32812" cy="8.05469" r="7.5"
                                                                    fill="#765BA7" />
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M9.37927 8.15942L6.57227 5.31705L6.9833 4.91113L9.99885 7.96467C10.0536 8.02014 10.0837 8.09541 10.0821 8.17336C10.0806 8.25131 10.0476 8.32532 9.99064 8.37858L6.97509 11.1991L6.58047 10.7772L9.37927 8.15942Z"
                                                                    fill="white" />
                                                            </svg>

                                                        </p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="paginate-custom">
                                            <a class="arrow" href="" title="">
                                                <i class="fas fa-chevron-left"></i>
                                            </a>
                                            <a href="" title="" class="active">1</a>
                                            <a href="" title="">2</a>
                                            <a href="" title="">3</a>
                                            <a href="" title="">4</a>
                                            <a class="arrow" href="" title="">
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <supportsection></supportsection>

            </div>


        </main>

        <myfooter></myfooter>

        <!-- Modal -->
        <div class="modal fade" id="thanhtichhsModal" tabindex="-1" aria-labelledby="thanhtichhsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-700">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <img class="img-fluid" src="images/common/close-ic.png" alt="">
                        </button>

                        <div class="thanhtichhs-detail">
                            <div class="detail-image">
                                <img class="img-fluid" src="images/about/thanhtichhs-img.jpg" alt="">
                            </div>
                            <div class="detail-content">
                                <div class="content-info">
                                    <h4 class="name">Huỳnh Minh Quyên Quyên</h4>
                                    <ul class="des">
                                        <li>Học sinh lớp 12.H.3L</li>
                                    </ul>
                                </div>
                                <div class="content-achievement">
                                    <p class="title">Thành tích học tập</p>

                                    <ul>
                                        <li v-for="n in 3">
                                            <div class="list-deco">
                                                <img class="img-fluid" src="images/common/title-deco.svg" alt="">
                                            </div>
                                            <div class="list-content">
                                                Giải Nhất - Cấp Quốc Tế - Cuộc thi đàn “Thailand International virtual
                                                music competition 2021”
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-share">
                                    <p>Chia sẻ:</p>
                                    <ul>
                                        <li>
                                            <a href="javascript:;" class="social-link" title="">
                                                <img class="img-fluid" src="images/common/fb-socials.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="social-link" title="">
                                                <img class="img-fluid" src="images/common/mail-socials.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="social-link" title="">
                                                <img class="img-fluid" src="images/common/tweet-socials.png" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="social-link" title="">
                                                <img class="img-fluid" src="images/common/in-socials.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- vue core -->
<script src="js/vue.js"></script>
<script src="js/httpVueLoader.js"></script>
<!-- end vue core -->

<script src="js/jquery-3.4.1.js"></script>
<script src="libs/swiper/swiper-bundle.js"></script>
<script src="libs/bootstrap/popper.min.js"></script>
<script src="libs/bootstrap/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        components: {
            myheader: httpVueLoader("vue_components/header.vue"),
            myfooter: httpVueLoader("vue_components/footer.vue"),
            supportsection: httpVueLoader("vue_components/support.vue"),
        },
        data() {
            return {}
        },
        methods: {

        },

        mounted() {
            this.$nextTick(() => {

                $(window).bind("load", function () {

                })
            });
        },
    });
</script>

</html>