<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Website Greenfield</title>
</head>

<body>
    <div id="app">
        <myheader></myheader>

        <main>

            <div class="master-wrapper">

                <div class="gf-common-banner big-banner">
                    <div class="gf-banner-image">
                        <img class="img-fluid" src="images/about/gioithieu-nhansu-bg.jpg" alt="">
                    </div>
                    <div class="gf-banner-deco">
                        <div class="deco-text">
                            <p class="text-uppercase">
                                đội ngũ <br /> nhân sự
                            </p>
                        </div>
                    </div>
                </div>

                <div class="gf-section white-bg gioithieu-wrapper">
                    <div class="container">
                        <div class="w-1170">
                            <div class="gioithieu-list-wrapper">
                                <ul class="gioithieu-list">
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Tầm nhìn & Sứ mệnh
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item active">
                                        <a href="javascript:;">
                                            Đội ngũ nhân sự
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Giá trị cốt lõi
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Chân dung học sinh
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Thành tích học sinh
                                        </a>
                                    </li>
                                    <li class="gioithieu-list-item">
                                        <a href="javascript:;">
                                            Cơ sở vật chất
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="row-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#"><img class="img-fluid"
                                                    src="images/common/home-ic.png" alt=""></a></li>
                                        <li class="breadcrumb-item"><a href="#">Giới thiệu</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Đội ngũ nhân sự</li>
                                    </ol>
                                </nav>
                            </div>

                            <div class="gioithieu-body-wrapper">
                                <div class="section-editor">
                                    <div class="section-title">
                                        <img class="img-fluid" src="images/common/title-deco.svg" alt="">

                                        Ban giám hiệu
                                    </div>

                                    <div class="section-content">
                                        <p>
                                            Tại Greenfield, chúng tôi tự hào về đội ngũ giáo viên – nhân viên Việt Nam
                                            và nước ngoài vững vàng về chuyên môn, giàu tâm huyết với học sinh và không
                                            ngừng sáng tạo.
                                        </p>
                                    </div>

                                </div>

                                <div class="teacher-list">
                                    <div class="teacher-list-item" v-for="teacher in allTeacher" :key="teacher.id">
                                        <div class="teacher-image">
                                            <div class="image--inner">
                                                <img class="img-fluid" :src="teacher.images" alt="">
                                            </div>
                                        </div>
                                        <div class="teacher-content">
                                            <div class="content-head">
                                                <h4 class="name">{{ teacher.name }}</h4>
                                                <p class="title">{{ teacher.title }}</p>
                                            </div>
                                            <div class="content-des">
                                                {{ teacher.description }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="viewmore-wrapper">
                                        <a href="javascript:;" class="viewmore-btn">
                                            Xem thêm

                                            <img class="img-fluid" src="images/common/purple-arrow.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="teacher-search-wrapper">
                        <div class="container">
                            <div class="w-1170">
                                <div class="section-editor">
                                    <div class="section-title">
                                        <img class="img-fluid" src="images/common/title-deco.svg" alt="">

                                        Đội ngũ giáo viên
                                    </div>

                                    <div class="section-content">
                                        <p>
                                            Đội ngũ giáo viên của Greenfield được đào tạo bài bản về chuyên môn với kỹ
                                            năng vững vàng. Những thầy cô giáo của chúng tôi không ngừng học hỏi những
                                            điều mới mẻ để mang đến những lớp học đầy hứng khởi.
                                        </p>
                                    </div>

                                </div>

                                <div class="search-container">
                                    <div class="search-form-wrapper">
                                        <form action="">
                                            <div class="form-gr">
                                                <label for="inputName">Họ và tên</label>
                                                <input type="text" id="inputName" placeholder="Họ và tên của bạn">
                                            </div>
                                            <div class="form-gr">
                                                <label for="inputSelectPosition">Vị trí</label>
                                                <select class="form-select" id="inputSelectPosition">
                                                    <option selected disabled>Hệ chất lượng cao</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="form-gr">
                                                <label for="inputSelectGroup">Tổ</label>
                                                <select class="form-select" id="inputSelectGroup">
                                                    <option selected disabled>Tổ Tiếng Anh (GVNN)</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <button>Tìm kiếm</button>
                                        </form>
                                    </div>
                                    <div class="search-result-wrapper">
                                        <div class="result-list">
                                            <div class="result-item" v-for="n in 8">
                                                <div class="item-image">
                                                    <a href="javascript:;">
                                                        <img class="img-fluid" src="images/common/video-thumb.jpg"
                                                            alt="">
                                                    </a>
                                                </div>
                                                <div class="item-content">
                                                    <a href="javascript:;" class="item-name">Cô Nguyễn Thu Phương</a>
                                                    <p class="item-title">Giáo viên Tiếng Anh</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="paginate-custom">
                                            <a class="arrow" href="" title="">
                                                <i class="fas fa-chevron-left"></i>
                                            </a>
                                            <a href="" title="" class="active">1</a>
                                            <a href="" title="">2</a>
                                            <a href="" title="">3</a>
                                            <a href="" title="">4</a>
                                            <a class="arrow" href="" title="">
                                                <i class="fas fa-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gf-section purple-bg parents-story about-teacher"
                        style="background: url(../images/home/parents-story-bg.jpg);">
                        <div class="parents-story--inner">
                            <div class="container">
                                <div class="common-section-title white-text">
                                    <h4 class="title-name">
                                        Câu chuyện giáo viên
                                    </h4>
                                </div>
                            </div>
                            <div class="parents-story-slider-wrapper">
                                <div class="parents-story-slider">
                                    <!-- Slider main container -->
                                    <div class="swiper">
                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">
                                            <!-- Slides -->
                                            <div class="swiper-slide" v-for="n in 7">
                                                <div class="story-item-wrapper">
                                                    <div class="story-image">
                                                        <img class="img-fluid" src="images/common/video-thumb.jpg"
                                                            alt="">
                                                    </div>
                                                    <div class="story-content">
                                                        <div class="story-head">
                                                            <h4 class="head-title">Cô Lê Diệu Huyền</h4>
                                                            <ul>
                                                                <li>Giáo viên Toán Học</li>
                                                            </ul>
                                                        </div>
                                                        <div class="story-body">
                                                            <div class="story-body-deco">
                                                                <img class="img-fluid"
                                                                    src="images/common/story-deco.png" alt="">
                                                            </div>
                                                            <div class="story-body-text">
                                                                <div class="text-inner">
                                                                    Bản thân tôi, qua sự giới thiệu này, tôi cũng đã tự
                                                                    tìm
                                                                    hiểu, nghiên cứu, đánh giá hết tất cả các khía cạnh,
                                                                    cũng như so sánh với các ngôi trường khác. Sau khi
                                                                    đã
                                                                    nghiên cứu, tôi quyết định chọn Việt Úc. Và đến bây
                                                                    giờ
                                                                    Bản thân tôi, qua sự giới thiệu này, tôi cũng đã tự
                                                                    tìm
                                                                    hiểu, nghiên cứu
                                                                </div>

                                                                <a href="javascript:;" class="detail-cta" title="">
                                                                    Xem tiếp
                                                                    <img class="img-fluid"
                                                                        src="images/common/purple-arrow.png" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- If we need pagination -->
                                    <div class="swiper-pagination"></div>

                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev">
                                        <img class="img-fluid" src="images/common/slide-prev.png" alt="">
                                    </div>
                                    <div class="swiper-button-next">
                                        <img class="img-fluid" src="images/common/slide-next.png" alt="">
                                    </div>
                                </div>
                                <div class="parents-story-cta">
                                    <a href="javascript:;" title="" class="btn-pill border-pill yellow-pill">
                                        Xem thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="about-employment">
                        <div class="about-employment-head">
                            <div class="container">
                                <div class="w-1170">
                                    <div
                                        class="about-employment-head--inner d-flex align-items-center justify-content-between">
                                        <h4 class="head-title">Làm việc tại Greenfield School </h4>
                                        <a href="javascript:;" title="" class="btn-pill border-pill purple-all">Xem tất
                                            cả</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-employment-body">
                            <div class="container">
                                <div class="w-1170">
                                    <div class="employment-list">
                                        <div class="employment-item" v-for="n in 3">
                                            <div class="employment-image">
                                                <a href="javascript:;" title="">
                                                    <img class="img-fluid" src="images/common/video-thumb.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="employment-content">
                                                <a href="javascript:;" class="employment-name" title="">
                                                    Greenfield School - bản tin tuyển dụng tháng 9.2022
                                                </a>
                                                <p class="employment-date">
                                                    Hạn nộp hồ sơ: <span>30/9/2022</span>
                                                </p>
                                                <a href="javascript:;" class="employment-cta" title="">
                                                    Ứng tuyển ngay
                                                    <img class="img-fluid" src="images/common/purple-arrow.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <supportsection></supportsection>

            </div>


        </main>

        <myfooter></myfooter>
    </div>
</body>


<!-- vue core -->
<script src="js/vue.js"></script>
<script src="js/httpVueLoader.js"></script>
<!-- end vue core -->

<script src="js/jquery-3.4.1.js"></script>
<script src="libs/swiper/swiper-bundle.js"></script>
<script src="libs/bootstrap/popper.min.js"></script>
<script src="libs/bootstrap/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        components: {
            myheader: httpVueLoader("vue_components/header.vue"),
            myfooter: httpVueLoader("vue_components/footer.vue"),
            supportsection: httpVueLoader("vue_components/support.vue"),
        },
        data() {
            return {
                allTeacher: [
                    {
                        id: 1,
                        name: 'Bà Tara Nadine Maybanks',
                        title: 'Tổng hiệu trưởng',
                        description: 'Bà là một nhà lãnh đạo năng động có nhiều năm công tác tại các Trường Quốc tế tại Việt Nam. Bà theo đuổi việc xây dựng một cộng đồng giáo dục ưu việt, cho phép đa dạng hóa các trải nghiệm và cơ hội của học sinh trên con đường trở thành các nhà lãnh đạo trẻ của tương lai.',
                        images: 'images/about/teacher-1.png',
                    },
                    {
                        id: 2,
                        name: 'Bà Nguyễn Thị Bích Dung',
                        title: 'Thành viên ban giám hiệu',
                        description: 'Bà là nhà giáo đã có nhiều năm ở cương vị Hiệu trưởng và đã có dày dạn kinh nghiệm lãnh đạo trong hơn 30 năm trong ngành Giáo dục. Bà đã nhiều năm là Thành viên Kiểm định Chất lượng giáo dục, Thanh tra của Phòng Giáo dục quận Nam Từ Liêm. Bà cống hiến cho chất lượng giáo dục của hàng ngàn lớp học sinh tại Greenfield School với tất cả niềm tin, sự tận tụy, tính chính trực và lòng kiên trì.',
                        images: 'images/about/teacher-2.png',
                    },
                    {
                        id: 3,
                        name: 'Bà Vũ Thị Liên Hoa',
                        title: 'Thành viên ban giám hiệu',
                        description: 'Bà có bằng Thạc sĩ Quản lý Giáo dục và có trên 30 năm kinh nghiệm trong ngành Giáo dục. Bà đặc biệt chú trọng tới việc đảm bảo chất lượng học thuật của các môn học, đồng thời đáp ứng được nhu cầu của mỗi học sinh. Với những cống hiến nhiều năm trong ngành Giáo dục, bà đã được Bộ trưởng Bộ Giáo dục & Đào tạo, Công đoàn Giáo dục Việt Nam trao tặng Bằng khen cho cá nhân có thành tích xuất sắc trong lãnh đạo, quản lý Nhà trường.',
                        images: 'images/about/teacher-3.png',
                    },
                    {
                        id: 4,
                        name: 'Bà Tara Nadine Maybanks',
                        title: 'Tổng hiệu trưởng',
                        description: 'Ông từng đảm nhiệm vai trò Chủ nhiệm bộ môn Ngôn ngữ tại trường Quốc tế danh tiếng tại Hà Nội. Là kiến trúc sư trưởng đằng sau các Chương trình học sinh của Greenfield School, ông hỗ trợ học sinh trên lộ trình chuẩn bị cho các kế hoạch dài hơi ở bậc Đại học cũng như hoạt động Hướng nghiệp.',
                        images: 'images/about/teacher-4.png',
                    },
                ],
            }
        },
        methods: {

        },

        mounted() {
            this.$nextTick(() => {

                $(window).bind("load", function () {
                    let parentStorySwiper = new Swiper('.parents-story-slider .swiper', {
                        // Optional parameters
                        // slidesPerView: 3,
                        spaceBetween: 0,
                        // centerMode: true,
                        speed: 1500,

                        // Navigation arrows
                        navigation: {
                            nextEl: '.parents-story-slider .swiper-button-next',
                            prevEl: '.parents-story-slider .swiper-button-prev',
                        },
                        on: {
                            init: function () {
                                this.slideTo(1)
                            }
                        }
                    });
                })
            });
        },
    });
</script>

</html>