<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Thanh niên tình nguyện Haui
    </title>
</head>

<body>
    <div id="app">
        <myheader></myheader>
        <main>
        <div class="activity-wrapper">
            <div class="container">
                <h1>Hoạt động mới nhất</h1>
                <div class="activity-content-wrapper">
                    <div  class="activity-content">
                    <div class="left-content">
                        <div class="left-image">
                        <img class="img-fluid" src="images/ativity.png" alt="">
                        </div>
                        <h3>Chương trình “Tết ấm yêu thương 2022” </h3>
                    </div>
                    <div class="right-content">
                        <div class="activity-right-content" v-for="item in 2">
                            <div class="right-image">
                            <img src="images/activity.png" alt="">
                            </div>
                            <h4>Chương trình “Kế hoạch nhỏ”</h4>
                        </div>
                    </div>
                    </div>
                    <div class="blog-wrapper">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12" v-for="item in 9">
                                <article-blog></article-blog>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
        <myfooter></myfooter>

    </div>
</body>


<!-- vue core -->
<script src="js/vue.js"></script>
<script src="js/httpVueLoader.js"></script>
<!-- end vue core -->

<script src="js/jquery-3.4.1.js"></script>
<script src="libs/swiper/swiper-bundle.js"></script>
<script src="libs/bootstrap/popper.min.js"></script>
<script src="libs/bootstrap/bootstrap.min.js"></script>
<script src="libs/gsap/gsap.min.js"></script>
<script src="js/main.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        components: {
            myheader: httpVueLoader("vue_components/header.vue"),
            myfooter: httpVueLoader("vue_components/footer.vue"),
            "article-blog": httpVueLoader('vue_components/article-blog.vue'),
        },
        mounted() {
            this.$nextTick(() => {

                $(window).bind("load", function () {

                    // Home Banner

                    // Home events
                    let homeEventSwiper = new Swiper('.home-events-wrapper .swiper', {
                        // Optional parameters
                        slidesPerView: 4,
                        spaceBetween: 30,
                        speed: 1500,

                        // Navigation arrows
                        navigation: {
                            nextEl: '.home-events-wrapper .swiper-button-next',
                            prevEl: '.home-events-wrapper .swiper-button-prev',
                        },
                    });

                    // Home videos
                    let homeVideoSwiper = new Swiper('.home-video-slider .swiper', {
                        // Optional parameters
                        slidesPerView: 3,
                        spaceBetween: 30,
                        speed: 1500,

                        // Navigation arrows
                        navigation: {
                            nextEl: '.home-video-slider .swiper-button-next',
                            prevEl: '.home-video-slider .swiper-button-prev',
                        },
                    });

                    // Home parent story
                    let parentStorySwiper = new Swiper('.parents-story-slider .swiper', {
                        // Optional parameters
                        // slidesPerView: 3,
                        spaceBetween: 0,
                        // centerMode: true,
                        speed: 1500,

                        // Navigation arrows
                        navigation: {
                            nextEl: '.parents-story-slider .swiper-button-next',
                            prevEl: '.parents-story-slider .swiper-button-prev',
                        },
                        on: {
                            init: function () {
                                this.slideTo(1)
                            }
                        }
                    });

                    // Home partners
                    let partnerSwiper = new Swiper('.partner-slider .swiper', {
                        // Optional parameters
                        slidesPerView: 4,
                        spaceBetween: 30,
                        // centerMode: true,
                        speed: 1500,

                        // If we need pagination
                        pagination: {
                            el: '.partner-slider .swiper-pagination',
                            clickable: true,
                        },
                    });

                    iconInterval();
                    fixedsocialPopup();
                    triggerFixedEle();
                })
            });
        },
    });
</script>

</html>