.introduce-wrapper{
    position: relative;
    margin-top: 100px;
    margin-bottom:40px ;
    display: block;
    .section-title-wrapper{
        display: flex;
        flex-wrap: wrap;
        .section-title-left{
            flex:0 0 765px;
            max-width: 765px;
            h1{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 35px;
                color: #0C0F59;
                margin: 0;
                margin-bottom: 27px;
            }
            p{
                font-family: 'Lexend Deca';
                font-style: italic;
                font-weight: 400;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
                margin:0;
                padding: 0 50px ;
                text-align: center;
            }
        }
        .section-title-right{
            flex: 1;
            margin-left: 86px;
            margin-top: 20px;
            padding-right: 122px;
            .logo-images{
            @include ratio-img(100%)}
        }
    }
    .section-content-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap:60px;
        margin-top: 43px;
        .section-content-left{
            flex: 0 0 50%;
            max-width: 50%;
            p{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 29px;
                text-align: justify;
                color: #0C0F59;
            }
        }
        .section-content-right{
            flex:1;
            margin-top: 15px;
            p{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                text-align: justify;
                color: #000000;
            }
        }
    }
    .section-img-wrapper{
        width: 100%;
        border-radius: 10px;
        margin-top: 20px;
        @include ratio-img(60%);
    }
    .section-img-content{
        display:flex;
        flex-wrap: wrap;
        padding: 30px 60px;
        gap: 130px;
        .total-content{
            display: block;
            .totalcount{
                display: flex;
            h1{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 400;
                font-size: 64px;
                line-height: 87px;
                text-align: justify;
                color: #AB2118;
            }}
            p{
                font-family: 'SVN-Gilroy';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 33px;
                text-align: justify;
                color: #000000;
            }
        }
    }
    .section-slide-wrapper{
        margin-top: 20px;
        .swiper-slide{
            @include ratio-img(60%);
            img{
                width: 100%;
                border-radius: 10px;
            }
        }
    }
    .section-month-category{
        display: flex;
        flex-wrap: wrap;
        margin-top: 82px;
        margin-bottom: 80px;
        .section-month-category-left{
            flex: 0 0 700px;
            max-width: 700px;
            display: block;
            .section-month-category-content{
                position: relative;
                width: 100%;
                background: #C9D0F3;
                border-radius: 15px;
                margin-bottom: 37px;
                p{
                    position: relative;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: justify;
                    color: #000000;
                    padding: 20px;
                    padding-left: 40px;
                    padding-bottom: 40px;
                }
                svg{position: absolute;
                    bottom: -5px;
                    right: 680px;
                }
                .svg-comment{
                    position: absolute;
                    bottom: -5px;
                    left: 685px;
                }
            }
        }
        .section-month-category-right{
            flex: 1;
            position: relative;
            .section-month-category-img{
                position: absolute;
                left:0px;
                top:-190px;
                img{
                 @include ratio-img (100%);}
            }
        }
    }
}
#scopedSyncSwiper{
    margin-bottom: 80px;
}
#mainSwiper{
    .swiper-wrapper {

        .swiper-slide {

            .item {
                @include col-img(50%, cover)
            }
        }
    }
}
#thumbSwiper{
width: 100%;
background: rgba(0, 0, 0, 0.6);
backdrop-filter: blur(2px);
padding: 10px 0;
z-index: 1;
// backdrop-filter: blur(2px);
.wrapper{
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    padding: 0 15px;
}
    .swiper {
        max-width: 540px;
        margin: 0 auto;
    }
            .item {
                position: relative;
                @include col-img(100%, cover);
                background: #333333;
                border-radius: 6px;
                cursor: pointer;
    
                &::before {
                    content: '';
                    position: absolute;
                    background: rgba(29, 90, 153, 0.6);
                    backdrop-filter: blur(2px);
                    border-radius: 6px;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.2s linear;
                }
    
                &:hover {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                        transition: all 0.2s linear;
                    }
                }
            }
        .swiper-slide-thumb-active {
            .item {
                &::before {
                    opacity: 1;
                    visibility: visible;
                    transition: all 0.2s linear;
                }
            }
        }
    }
