.t__top--slider {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.home-wrapper{
    position: relative;
    // margin-top: 90px;
    margin-bottom: 79px;
}
.backgroud-slide{
    position: absolute;
    width: 600px;
    height: 661px;
    right: -30px;
    top: 20px;
    background-image: url(../images/backgroud/rightbg.png);
    background-repeat: no-repeat;
    background-size:contain;

}
.right-contet{
    flex: 0 0 550px;
    max-width: 550px;
    background-position-y:40px ;
    .upload{
        width: 100%;
        max-width: 520px;
        border-radius: 4px;
        background-color: #F9D0D0;
        color: #F0F4FA;
        border: none;
        padding: 10px 0;
        margin-left: 30px;
    }
    .swiper{
        margin-top: 50px;
        .swiper-slide{
            max-width: 550px;
            max-height: 600px;
        @include ratio-img(120%);
        img{
            margin-left: 50px;
            width: 70%;
            height: 100%;
        };
    }
        .swiper-button-next{
            color: rgba(0, 0, 0, 0.6);
            margin-right: 50px;
        }
        .swiper-button-prev{
            color: rgba(0, 0, 0, 0.6);
            margin-left: 10px;
        }
    }
    .avatar-img{
        position: relative;
        display: block;
        margin-left: 30px;
        margin-top: 130px;
        border-radius: 10px;
        background: #F0F4FA;
        @include ratio-img(100%);
        .upload-field {
            position: relative;
            width: 100%;
            cursor: pointer;
            background: rgba(217, 217, 217, 0.8);
            border: none;
            border-radius: 10px;
            padding: 17px
        }
        
        .upload-field::before {
            content: "";
            position: absolute;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none
        }
        
        .upload-field input[type=file] {
            display: none
        }
        
        .upload-field .upload-text {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center
        }
        .upload-text{
            p{  
                font-weight: 700;
                font-size: 20px;
                line-height: 29px;
                text-align: center;               
                color: #2e2bde;
                margin: 0;
            }
        }
    }
}
.left-content{
    flex: 1;
    position: relative;
    display: block;
    overflow: hidden;
    .social{
        margin-top: 147px;
        position: relative;
        p{
            margin-bottom: 5px;
        }
        .social-icon{
            display: flex;
            gap:20px
        }
    }
    h1{
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 47px;
        color: #0C0F59;
        margin-top: 79px;
        text-align: center;
    }
    h2{
        font-family: 'Lexend Deca';
        font-style: italic;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        text-align: center;
        color: #2044C4;
        margin-top: 45px;
    }
}
.home-search{
    position: relative;
    form{
        input{
            position: relative;
            width: 100%;
            background: #FDF1F1;
            border: none;
            border-radius: 10px;
            padding: 17px 45px;
            margin-top: 122px;
        }
        svg{
            position: absolute;
            left: 12px;
            top: 138px;
            z-index: 3;
        }
        .btn-search{
            position: absolute;
            right: 10px;
            top: 130px;
            z-index: 3;
            background: #2E2BDE;
            border-radius: 5px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            padding: 8px 28px;
            margin-left: auto;
        }
    }
}
.register-wrapper{
    position: relative;
    margin-bottom: 79px;
    .left-content{
        padding-right: 32px;
    }
    .register-form{
        background-image: url(../images/backgroud/rightbg.png);
            background-repeat: no-repeat;
            background-size:contain;
        h1{
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            color: #0C0F59;
            text-transform: uppercase;
        }
        form{
            background: rgba(255, 252, 252, 0.6);
            border-radius: 20px;
            display: block;
            padding: 30px;
            table{
                width: 100%;          
            tr{
                td{
                    margin-left: 20px;
                    margin-bottom: 50px;
                    &:fist-child{
                        min-width: 200px;
                    }
                    &:last-child{
                        margin-left: auto;
                    }
                    h3{
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 29px;
                        color: #000000;
                    }
                    h5{
                        font-family: 'Lexend Deca';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 27px;
                        color: #000000;
                        text-transform: capitalize;
                    }
                }
            }
        }
            .group-form{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 23px 0;
                opacity: 1;
                h5{
                    font-family: 'Lexend Deca';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    color: #000000;
                    text-transform: capitalize;
                }
                input{
                    width: 375px;
                    background: #F9D0D0;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    margin-left: auto;
                }
                textarea{
                    width: 375px;
                    height: 100px;
                    background: #F9D0D0;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    margin-left: auto;
                }
                button{
                background: #2E2BDE;
                border-radius: 10px;
                justify-items: center;
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
                border: none;
                padding: 5px 25px;
                a{
                    background: #2E2BDE;
                border-radius: 10px;
                justify-items: center;
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
                border: none;
                padding: 5px 25px;
                text-decoration: none;
                }
                }
                &:last-child{
                    justify-content: center;
                }
            }
        }
    }
    .backgroud-slide{
        background: none;
    }
}
.category-months-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 92px;
    .left-category-months{
        flex: 1;
        margin-right: 40px;
        h1{
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #0C0F59;
        }
        form{
            width: 100%;
            background: #F0F4FA;
            border-radius: 15px;
            .textarea-form{
                width: 100%;
                height: 373px;
                border: 5px solid #F0F4FA;
                background: #F0F4FA;
                padding: 20px;
                border-radius: 15px;
                &:focus {
                    border: 5px solid #F0F4FA;
                    border-radius: 15px;
                }
            }
            input[type="submit"]{
                width: 100%;
                border: none;
                background: #2E2BDE;
                border-radius: 15px;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 35px;
                color: #FFFFFF;
            }
        }
    }
    .right-category-months{
        flex:0 0 450px;
        max-width: 450px;
        margin-top: auto;
    }
}
.banner-home{
    margin-top: 48px;
    // @include ratio-img(10%);
    img{
        width: 100%;
        border-radius: 15px;
    }
}