.introduce-wrapper{
    position: relative;
    margin-top: 196px;
    margin-bottom:40px ;
    display: block;
    .section-title-wrapper{
        display: flex;
        flex-wrap: wrap;
        .section-title-left{
            flex:0 0 765px;
            max-width: 765px;
            h1{
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 35px;
                color: #0C0F59;
                margin: 0;
                margin-bottom: 27px;
            }
            p{
                font-family: 'Lexend Deca';
                font-style: italic;
                font-weight: 400;
                font-size: 24px;
                line-height: 33px;
                color: #000000;
                margin:0;
                padding: 0 50px ;
                text-align: center;
            }
        }
        .section-title-right{
            flex: 1;
            margin-left: 86px;
            @include ratio-img(100%)
        }
    }
}