.t__top--slider {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.home-wrapper{
    position: relative;
    margin-top: 90px;
    margin-bottom: 79px;
}
.backgroud-slide{
    position: absolute;
    width: 600px;
    height: 661px;
    right: -30px;
    top: 40px;
    background-image: url(../images/backgroud/rightbg.png);
    background-repeat: no-repeat;
    background-size:contain;

}
.right-contet{
    flex: 0 0 550px;
    max-width: 550px;
    background-position-y:40px ;
    .swiper{
        margin-top: 70px;
        img{
        @include ratio-img(60%)}
        .swiper-button-next{
            color: rgba(0, 0, 0, 0.6);
            margin-right: 50px;
        }
        .swiper-button-prev{
            color: rgba(0, 0, 0, 0.6);
            margin-left: 10px;
        }
    }
}
.left-content{
    flex: 1;
    position: relative;
    display: block;
    overflow: hidden;
    .social{
        margin-top: 147px;
        position: relative;
        p{
            margin-bottom: 5px;
        }
        .social-icon{
            display: flex;
            gap:20px
        }
    }
    h1{
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 47px;
        color: #0C0F59;
        margin-top: 79px;
        text-align: center;
    }
    h2{
        font-family: 'Lexend Deca';
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #2044C4;
        margin-top: 45px;
    }
}
.home-search{
    position: relative;
    form{
        input{
            position: relative;
            width: 100%;
            background: #FDF1F1;
            border: none;
            border-radius: 10px;
            padding: 17px 45px;
            margin-top: 142px;
        }
        svg{
            position: absolute;
            left: 12px;
            top: 158px;
            z-index: 3;
        }
        .btn-search{
            position: absolute;
            right: 10px;
            top: 150px;
            z-index: 3;
            background: #2E2BDE;
            border-radius: 5px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            padding: 8px 28px;
            margin-left: auto;
        }
    }
}
.register-wrapper{
    position: relative;
    margin-top: 90px;
    margin-bottom: 79px;
    .left-content{
        padding-right: 32px;
    }
    .register-form{
        h1{
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            color: #0C0F59;
            text-transform: uppercase;
        }
        form{
            background: rgba(255, 252, 252, 0.6);
            border-radius: 20px;
            background-image: url(../images/backgroud/rightbg.png);
            background-repeat: no-repeat;
            background-size:contain;
            display: block;
            padding: 30px;
            .group-form{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 23px 0;
                h5{
                    font-family: 'Lexend Deca';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                    color: #000000;
                    text-transform: capitalize;
                }
                input{
                    width: 375px;
                    background: #F9D0D0;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    margin-left: auto;
                }
                textarea{
                    width: 375px;
                    background: #F9D0D0;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 5px;
                    margin-left: auto;
                }
                button{
                background: #2E2BDE;
                border-radius: 10px;
                justify-items: center;
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
                border: none;
                padding: 5px 25px;
                }
            }
        }
    }
    .backgroud-slide{
        background: none;
    }
}