.t__top--slider {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 732px;
}
.home-wrapper{
    position: relative;
    margin-top: 90px;
    background-image: url(../images/backgroud/vector_1908398.png);
    background-repeat: no-repeat;
}
.right-contet{
    flex: 0 0 500px;
    max-width: 550px;
}
.left-content{
    flex: 1;
    position: relative;
    display: block;
    overflow: hidden;
    h1{
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 47px;
        color: #0C0F59;
        margin-top: 79px;
    }
    h2{
        font-family: 'Lexend Deca';
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #2044C4;
        margin-top: 45px;
    }
}
.home-search{
    form{
        margin: 0;
        padding: 0;
        border: 0;
        input{
            position: relative;
            width: 621px;
            background: #FDF1F1;
            border: 1px solid #877272;
            border-radius: 10px;
            padding: 17px 5px;
            margin-top: 142px;
        }
        .btn-search{
            position: absolute;
            right: 10px;
            top: 150px;
            z-index: 3;
            background: #2E2BDE;
            border-radius: 5px;
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            padding: 8px 28px;
            margin-left: auto;
        }
    }
}