.activity-wrapper{
    position: relative;
    margin-top: 196px;
    margin-bottom:40px ;
    display: block;
    h1{
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 47px;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 26px;
    }
    .activity-content-wrapper{
        .activity-content{
            display: flex;
            margin-bottom: 48px;
            .left-content{
                flex:0 0 705px;
                max-width: 750px;
                display: block;
                margin-right: 25px;
                .left-image{
                    @include ratio-img(68%);
                    border-radius:10px;
                }
                h3{
                    font-family: 'Lexend Deca';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 35px;
                    color: #000000;
                }
            }
            .right-content{
                flex:1;
                display: block;
                .activity-right-content{
                    .right-image{
                        border-radius:10px;
                        @include ratio-img(48%)
                    }
                    h4{
                        font-family: 'Lexend Deca';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 33px;
                        color: #000000;
                    }
                }
            }
        }
        .blog-wrapper{
            display: flex;
            flex-wrap: wrap;
        }
    }
}
.blog-detail-wrapper{
    display: block;
    p{
        width: 100%;
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        text-align: justify;
        color: #000000;
        img{
            display: block;
            width: auto;
            max-width: 100%;
            height: auto;
            text-align: center;
            margin: 0 auto;
            border-radius: 4px;
        }
    }
}