.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background: transparent;
  transition: all 0.3s;
  background-image: url(../images/backgroud/vector_1908398.png);
  background-repeat: no-repeat;
  .header--inner {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      transition: all 0.3s;
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 992px){
        max-width: 992px;
      }
      @media (min-width: 1200px){
        max-width: 1200px;
      }
  }
  .header-logo{
    display: block;
    width: 80px;
    height: 80px;
  }
  .header-content{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 80px;
        ul {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          gap: 39px;

          li {
            list-style: none;
            padding: 5px 10px;

            a {
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 35px;
              color: #0C0F59;
              line-height: calc(17 / 16);
              letter-spacing: -0.03em;
              text-transform: uppercase;
              text-decoration: none;
              transition: all 0.3s;

              &:hover {
                transition: all 0.3s;
                color: green;
              }
            }
            &:hover {
              transition: all 0.3s;
              // background-color: #2E2BDE;
            }

            &.active {
              a {
                color: green;
              }
              // background-color: #2E2BDE;
            }
          }
        }
      }
      .header-register{
        line-height: 80px;
        button{
          border-radius: 6px;
          background: #2E2BDE;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 29px;
          text-align: center;
          color: #FFFFFF;
          padding: 11px 20px;
          border: none;
        }
      }
}